@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html, body{
	margin: 0;
	height: 100%;
	background-color: #FFe6EE;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.discordapp.com/attachments/963062035652939788/964613489995943946/unknown.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }

.navbar-custom {
    background-color: #600000;
}

 .nav-link {
	 font-size: 20px;
	 font-weight: 350;
	 color: #fff;
	 line-height: 36px;
	 border-radius: 2px;
	 text-align: center;
}
 .nav-link:hover {
	 background: rgba(255, 255, 255, 0.1);
	 box-sizing: border-box;
	 position: relative;
	 color: #f4f4f4;
	 box-sizing: border-box;
	 position: relative;
	 cursor: pointer;
	 outline: 0;
	 border: none;
}
 .navbar-brand {
	 font-size: 24px;
	 font-weight: 500;
	 color: #f4f4f4;
}
 .hero {
	 height: 900px;
	 width: auto;
	 background: linear-gradient(to bottom left, #77c4e3, #8176b5);
	 background-size: cover;
	 background-position: center;
}
 .hero-heading {
	 color: #fff;
	 position: absolute;
	 top: 220px;
	 left: 0;
	 right: 0;
	 margin: auto;
	 text-align: center;
	 line-height: 1.3;
	 font-weight: 300;
	 font-family: "Roboto Slab", sans-serif;
	 padding: 0 8px;
	 max-width: 300px;
	 width: 100%;
	 z-index: 5;
}
 .hero-sub-title {
	 font-family: "Open Sans", sans-serif;
}
 .hero-sub-title > a:hover {
	 color: #f4f4f4;
}
 