{% extends "layout.html" %}

{% block body %}

<div class="p-1 mb-4 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">RhythmGameDB</h1>
        <p class="col-md-8 fs-4">A one-stop website for rhythm-game related enquiries</p>
    </div>
</div>
<hr>
<div class="d-flex p-1 mb-4 rounded-3 w-100">
    <div class="py-5 ms-auto">
        <h1 class="display-5 fw-bold">See mapsets and songs used in tournaments</h1>
        <p class="fs-4 text-end " >Check if other tournaments have used the same maps and songs!</p>
    </div>
</div>
<hr>
<div class="p-1 mb-4 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Manage tournaments</h1>
        <p class="col-md-8 fs-4">Check the details of the tournaments you are hosting or participating in!</p>
    </div>
</div>
{% endblock %}