{% extends "layout.html" %}

{% block body %}

<div class="p-1 mb-4 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">RhythmGameDB</h1>
        <p class="col-md-8 fs-4">A one-stop website for rhythm-game related enquiries</p>
    </div>
</div>
<hr>
<div class="d-flex p-1 mb-4 rounded-3 w-100">
    <div class="py-5 ms-auto">
        <h1 class="display-5 fw-bold">Search songs and users</h1>
        <p class="fs-4 text-end " >Search for your best friend or your favorite song!</p>
    </div>
</div>
<hr>
<div class="p-1 mb-4 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Look up tournaments</h1>
        <p class="col-md-8 fs-4">Check if other tournaments have used the same maps and songs!</p>
    </div>
</div>
{% endblock %}