{% extends "layout.html" %}

{% block body %}

    <div class="row pt-3 pb-3">
        <div class="col-sm">
            
            <form action="/song" method="post">
                <div class="input-group mx-auto">
                        <input type="search" class="form-control rounded" name="search" size="50" placeholder="Type in a song title or artist" aria-label="Search" aria-describedby="search-addon" value = {{ searchstr }}></input>
                        <button type="submit" class="btn btn-primary">Search</button>
                </div></br>
                Sort by: &nbsp;
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="sortby" id="titlesort" value="titlesort" autocomplete="off" {% if sortby == 'titlesort' %} checked {% endif %}>
                    <label class="btn btn-outline-primary" for="titlesort">Title</label>
                    
                    <input type="radio" class="btn-check" name="sortby" id="artistsort" value="artistsort" autocomplete="off" {% if sortby == 'artistsort' %} checked {% endif %}>
                    <label class="btn btn-outline-primary" for="artistsort">Artist</label>
                    
                    <input type="radio" class="btn-check" name="sortby" id="durationsort" value="durationsort" autocomplete="off" {% if sortby == 'durationsort' %} checked {% endif %}>
                    <label class="btn btn-outline-primary" for="durationsort">Duration</label>

                    <input type="radio" class="btn-check" name="sortby" id="bpmsort" value="bpmsort" autocomplete="off" {% if sortby == 'bpmsort' %} checked {% endif %}>
                    <label class="btn btn-outline-primary" for="bpmsort">BPM</label>
                </div>&nbsp;
                <div class="form-check" style="display: inline-block;">
                    <input class="form-check-input" type="checkbox" value="" name="romanized" id="romanized" {% if romanized %} checked {% endif %}>
                    <label class="form-check-label" for="romanized">
                        Show romanized
                    </label>
                </div>
            </form>
        </div></br>
    </div>
    
    
        <table class="table table-striped table-hover">
            <tr><th>Song ID</th><th>Artist</th><th>Title</th><th>Duration</th><th>BPM</th><th colspan="2">Action</th></tr>
            {% for s in songs %}
             <tr>
                {% if edit == 1 and songtoedit == s[0] %}
                    <form action="/submitedit/{{ s[0] }}" method="post">
                    <td>{{s [0] }}</td>
                    <td><input type="text" class="form-control rounded" name="artistedit" size="50" value = {{ s[1] }}></input></td>
                    <td><input type="text" class="form-control rounded" name="titleedit" size="50" value = {{ s[2] }}></input></td>
                    <td><input type="text" class="form-control rounded" name="durationedit" size="50" value = {{ s[3] }}></input></td>
                    <td><input type="text" class="form-control rounded" name="bpmedit" size="50" value = {{ s[4] }}></input></td>
                    <td><form action="submit" method="post"><button type="submit" class="btn btn-success btn-sm">Submit</button>
                    </form>
                {% else %}
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                    <td>{{ s[2] }}</td>
                    <td>{{ s[3] }}</td>
                    <td>{{ s[4] }}</td>
                    <td><form action="/edit/{{ s[0] }}" method="post"><button type="submit" class="btn btn-warning btn-sm">Edit</button></form>
                    <td><form action="/delete/{{ s[0] }}" method="post"><button type="submit" class="btn btn-danger btn-sm">Delete</button></form>
                {% endif %}
                
                
                
                </form></td>

             </tr>
            {% endfor %}
        </table>
    </div>
</br>
{% endblock %}