{% extends "layout.html" %}

{% block body %}
</br>
{% for t in tournaments %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ t[0] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ t[1] }}</h6>
                    <p class="card-text text-justify">{{ t[2] }}</p>
                    <form action="/tournamentpage/{{ t[3] }}" method="post">
                    <div class="d-grid gap-2 col-5 mx-auto">
                        <button class="btn btn-primary" type="submit">Visit</button>
                    </div></form>
                </div>
            </div>
        </br>
{% endfor %}
{% endblock %}